@color-backdrop: #F5F6F9;

@color-primary: #6688AD;
@color-danger: #674F83;
@color-warning: #f5a623;
@color-success: #8CBFB8;

@color-white: #FFFFFF;
@color-backdrop: #F5F6F9;
@color-gray: #869197;
@color-dark: darken(@color-gray, 10%);

@color-pending: #F0FAE5;
@color-waiting-others: #FFFEEF;