@color-backdrop: #F5F6F9;

@color-primary: #2851E5;
@color-danger: #D0021B;
@color-warning: #e19614;
@color-success: #7ED321;

@color-white: #FFFFFF;
@color-backdrop: #F5F6F9;
@color-gray: #6C6C6C;
@color-dark: darken(@color-gray, 10%);

@color-pending: #F0FAE5;
@color-waiting-others: #FFFEEF;
